<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.data.docking.mapper.second.FcjnOpenDoorRecordMaper">

    <select id="listOpenDoorRecord" resultType="com.data.docking.domain.FcjnCarOutVehicle">
        select
            top 50 Id, StaffName, OrganizationName, DevNo, DoorNo, DevName, OpenDate, TcnName
        from DmsOpenRecord where id &gt; #{id}
    </select>

</mapper>