<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE  mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.seeing.ordercenter.mapper.odc.OdcPayablesMapper">

    <resultMap id="BaseResultMap" type="com.seeing.ordercenter.bean.dao.OdcPayablesDo">
        <result column="pay_id" property="payId" jdbcType="BIGINT"/>
        <result column="pay_no" property="payNo" jdbcType="VARCHAR"/>
        <result column="pay_source_id" property="paySourceId" jdbcType="BIGINT"/>
        <result column="pay_source_no" property="paySourceNo" jdbcType="VARCHAR"/>
        <result column="pay_type" property="payType" jdbcType="TINYINT"/>
        <result column="pay_time" property="payTime" jdbcType="BIGINT"/>
        <result column="pay_user" property="payUser" jdbcType="BIGINT"/>
        <result column="pay_depa_id" property="payDepaId" jdbcType="BIGINT"/>
        <result column="pay_supplier_id" property="paySupplierId" jdbcType="BIGINT"/>
        <result column="pay_supplier_name" property="paySupplierName" jdbcType="VARCHAR"/>
        <result column="pay_amount" property="payAmount" jdbcType="INTEGER"/>
        <result column="pay_settled_amount" property="paySettledAmount" jdbcType="INTEGER"/>
        <result column="pay_state" property="payState" jdbcType="TINYINT"/>
        <result column="pay_rem" property="payRem" jdbcType="VARCHAR"/>
        <result column="pay_tena_id" property="payTenaId" jdbcType="BIGINT"/>
    </resultMap>

    <sql id="baseColumns">
        pay_id
        ,
		pay_no,
		pay_source_id,
		pay_source_no,
		pay_type,
		pay_time,
		pay_user,
		pay_depa_id,
		pay_supplier_id,
		pay_supplier_name,
		pay_amount,
		pay_settled_amount,
		pay_state,
		pay_rem,
		pay_tena_id
    </sql>

    <sql id="baseWhereSql">
        <if test="payNo != null">
            and pay_no = #{payNo}
        </if>
        <if test="paySourceId != null">
            and pay_source_id = #{paySourceId}
        </if>
        <if test="paySourceNo != null">
            and pay_source_no = #{paySourceNo}
        </if>
        <if test="payType != null">
            and pay_type = #{payType}
        </if>
        <if test="payTime != null">
            and pay_time = #{payTime}
        </if>
        <if test="payUser != null">
            and pay_user = #{payUser}
        </if>
        <if test="payDepaId != null">
            and pay_depa_id = #{payDepaId}
        </if>
        <if test="paySupplierId != null">
            and pay_supplier_id = #{paySupplierId}
        </if>
        <if test="paySupplierName != null">
            and pay_supplier_name = #{paySupplierName}
        </if>
        <if test="payAmount != null">
            and pay_amount = #{payAmount}
        </if>
        <if test="paySettledAmount != null">
            and pay_settled_amount = #{paySettledAmount}
        </if>
        <if test="payState != null">
            and pay_state = #{payState}
        </if>
        <if test="payRem != null">
            and pay_rem = #{payRem}
        </if>
    </sql>

    <select id="selectListByModel" resultMap="BaseResultMap">
        SELECT
        <include refid="baseColumns"/>
        FROM odc_payables
        where pay_tena_id = #{payTenaId}
        and pay_del = 0
        <include refid="baseWhereSql"/>
    </select>

    <select id="selectByModel" resultMap="BaseResultMap">
        SELECT
        <include refid="baseColumns"/>
        FROM odc_payables
        where pay_tena_id = #{payTenaId}
        and pay_del = 0
        <include refid="baseWhereSql"/>
    </select>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="Long">
        SELECT
        <include refid="baseColumns"/>
        FROM odc_payables
        WHERE pay_id = #{id}
        and pay_tena_id = #{tenaId}
    </select>

    <update id="deleteByPrimaryKey" parameterType="com.seeing.ordercenter.bean.dao.OdcPayablesDo">
        UPDATE odc_payables
        <set>
            pay_del = 1,
            pay_chan_user = #{payChanUser},
            pay_chan_time = #{payChanTime},
            pay_chan_request = #{payChanRequest},
        </set>
        WHERE pay_id = #{payId}
        and pay_tena_id = #{payTenaId}
    </update>

    <insert id="insert" parameterType="com.seeing.ordercenter.bean.dao.OdcPayablesDo">
        INSERT INTO odc_payables
        <trim prefix="(" suffix=")" suffixOverrides=",">
            pay_id,
            pay_no,
            pay_source_id,
            pay_source_no,
            pay_type,
            pay_time,
            pay_user,
            pay_depa_id,
            pay_supplier_id,
            pay_supplier_name,
            pay_amount,
            pay_settled_amount,
            pay_state,
            pay_rem,
            pay_del,
            pay_chan_user,
            pay_chan_time,
            pay_chan_request,
            pay_tena_id,
        </trim>
        <trim prefix="VALUES (" suffix=")" suffixOverrides=",">
            #{payId},
            #{payNo},
            #{paySourceId},
            #{paySourceNo},
            #{payType},
            #{payTime},
            #{payUser},
            #{payDepaId},
            #{paySupplierId},
            #{paySupplierName},
            #{payAmount},
            #{paySettledAmount},
            #{payState},
            #{payRem},
            #{payDel},
            #{payChanUser},
            #{payChanTime},
            #{payChanRequest},
            #{payTenaId},
        </trim>
    </insert>

    <insert id="insertSelective" parameterType="com.seeing.ordercenter.bean.dao.OdcPayablesDo">
        INSERT INTO odc_payables
        <trim prefix="(" suffix=")" suffixOverrides=",">
            pay_id,
            <if test="payNo != null">
                pay_no,
            </if>
            <if test="paySourceId != null">
                pay_source_id,
            </if>
            <if test="paySourceNo != null">
                pay_source_no,
            </if>
            <if test="payType != null">
                pay_type,
            </if>
            <if test="payTime != null">
                pay_time,
            </if>
            <if test="payUser != null">
                pay_user,
            </if>
            <if test="payDepaId != null">
                pay_depa_id,
            </if>
            <if test="paySupplierId != null">
                pay_supplier_id,
            </if>
            <if test="paySupplierName != null">
                pay_supplier_name,
            </if>
            <if test="payAmount != null">
                pay_amount,
            </if>
            <if test="paySettledAmount != null">
                pay_settled_amount,
            </if>
            <if test="payState != null">
                pay_state,
            </if>
            <if test="payRem != null">
                pay_rem,
            </if>
            pay_del,
            pay_chan_user,
            pay_chan_time,
            pay_chan_request,
            pay_tena_id,
        </trim>
        <trim prefix="VALUES (" suffix=")" suffixOverrides=",">
            #{payId},
            <if test="payNo != null">
                #{payNo},
            </if>
            <if test="paySourceId != null">
                #{paySourceId},
            </if>
            <if test="paySourceNo != null">
                #{paySourceNo},
            </if>
            <if test="payType != null">
                #{payType},
            </if>
            <if test="payTime != null">
                #{payTime},
            </if>
            <if test="payUser != null">
                #{payUser},
            </if>
            <if test="payDepaId != null">
                #{payDepaId},
            </if>
            <if test="paySupplierId != null">
                #{paySupplierId},
            </if>
            <if test="paySupplierName != null">
                #{paySupplierName},
            </if>
            <if test="payAmount != null">
                #{payAmount},
            </if>
            <if test="paySettledAmount != null">
                #{paySettledAmount},
            </if>
            <if test="payState != null">
                #{payState},
            </if>
            <if test="payRem != null">
                #{payRem},
            </if>
            #{payDel},
            #{payChanUser},
            #{payChanTime},
            #{payChanRequest},
            #{payTenaId},
        </trim>
    </insert>

    <update id="updateByPrimaryKey" parameterType="com.seeing.ordercenter.bean.dao.OdcPayablesDo">
        UPDATE odc_payables
        <set>
            pay_no = #{payNo},
            pay_source_id = #{paySourceId},
            pay_source_no = #{paySourceNo},
            pay_type = #{payType},
            pay_time = #{payTime},
            pay_user = #{payUser},
            pay_depa_id = #{payDepaId},
            pay_supplier_id = #{paySupplierId},
            pay_supplier_name = #{paySupplierName},
            pay_amount = #{payAmount},
            pay_settled_amount = #{paySettledAmount},
            pay_state = #{payState},
            pay_rem = #{payRem},
            pay_chan_user = #{payChanUser},
            pay_chan_time = #{payChanTime},
            pay_chan_request = #{payChanRequest},
        </set>
        WHERE pay_id = #{payId}
        and pay_tena_id = #{payTenaId}
        and pay_chan_time &lt;= #{payChanTime}
    </update>

    <update id="updateByPrimaryKeySelective" parameterType="com.seeing.ordercenter.bean.dao.OdcPayablesDo">
        UPDATE odc_payables
        <set>
            <if test="payNo != null">
                pay_no = #{payNo},
            </if>
            <if test="paySourceId != null">
                pay_source_id = #{paySourceId},
            </if>
            <if test="paySourceNo != null">
                pay_source_no = #{paySourceNo},
            </if>
            <if test="payType != null">
                pay_type = #{payType},
            </if>
            <if test="payTime != null">
                pay_time = #{payTime},
            </if>
            <if test="payUser != null">
                pay_user = #{payUser},
            </if>
            <if test="payDepaId != null">
                pay_depa_id = #{payDepaId},
            </if>
            <if test="paySupplierId != null">
                pay_supplier_id = #{paySupplierId},
            </if>
            <if test="paySupplierName != null">
                pay_supplier_name = #{paySupplierName},
            </if>
            <if test="payAmount != null">
                pay_amount = #{payAmount},
            </if>
            <if test="paySettledAmount != null">
                pay_settled_amount = #{paySettledAmount},
            </if>
            <if test="payState != null">
                pay_state = #{payState},
            </if>
            <if test="payRem != null">
                pay_rem = #{payRem},
            </if>
            pay_chan_user = #{payChanUser},
            pay_chan_time = #{payChanTime},
            pay_chan_request = #{payChanRequest},
        </set>
        WHERE pay_id = #{payId}
        and pay_tena_id = #{payTenaId}
        and pay_chan_time &lt;= #{payChanTime}
    </update>

    <update id="updatePayStateBatch">
        UPDATE odc_payables
            pay_state = #{payState}
            pay_chan_user = #{content.user},
            pay_chan_time = #{content.time},
            pay_chan_request = #{content.id},
        WHERE pay_id in
        <foreach collection="payIds" item="item" open="(" close=")" separator=",">
            #{item}
        </foreach>
          and pay_tena_id = #{content.tenant}
          and pay_chan_time &lt;= #{content.time}
    </update>

</mapper>